*,
*:before,
*:after {
  box-sizing: border-box;
}

/* links have own default attributes, e.g. text-decoration and color, which is inherited*/
a {
  text-decoration: none;
  color: rgb(158, 158, 158);
}

.navigation a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

body {
  margin: 0;
  background: rgb(32, 35, 41);
  color: rgb(158, 158, 158);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  margin: 0;
  padding: 0, 27px;
}

.navigation {
  list-style: none;
  background: rgb(255, 255, 255);
}

#hero {
  background: rgb(255, 255, 255);
  color: rgb(32, 36, 40);
  margin: 0;
  padding: 20px;
  font-size: 3rem;
  text-align: center;
}

.footer {
  background: rgb(15, 16, 17);
  color: rgb(158, 158, 158);
  padding: 5rem;
  text-align: center;
}

.footer-list {
  list-style: none;
}

h2 {
  color: white;
}

.characters {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, 600px);
}

.character {
  background: rgb(59, 62, 67);
  padding: 5, 2, 5, 5em;
  margin: 2em;
  border-radius: 1em;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto, 1fr;
}

.character img {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  height: 18em;
  width: 19em;
}

.character-info {
  display: grid;
  padding: 0.75em;
  margin: 0;
}

.character-info * {
  margin: 0;
}

.navigation {
  margin: 0;
}
